$fg_color: #eeeeec; // grey ~ white
$bg_hover_color: #424242;
$hover_border_color: #2b2b2b;
$black_light: rgba(0, 0, 0, 0.2);
$bg_darken: #2d2d2d;
$bg_color : #3c3c3c;
$enter_bg_color: #3961ca;

$sides: 'top', 'right', 'bottom', 'left';

@mixin scaled_padding($scale, $args...) {
  padding: {
    @for $i from 1 through 4 {
      #{nth($sides, $i)} : #{nth($args, $i) * $scale}px;
    }
  }
}

@mixin shadow_none() {
  text-shadow: none;
  icon-shadow: none;
  box-shadow: none;
}

@mixin shadow_hover() {
  box-shadow: 0 1px 1px 0 $black_light;
  text-shadow: 0 1px $black_light;
  icon-shadow: 0 1px $black_light;
}

@mixin keyboard($scale, $class:'') {
  #keyboard#{$class} {
    padding: 10px * $scale 0px;
  }

  #{$class} .key-container {
    padding: 4px * $scale 5px * $scale;
  }
  #{$class} .keyboard-key {
    width: 84px * $scale;
    height: 68px * $scale;
    border: {
      radius: 6px * $scale;
      style: solid;
      width: 1px;
      color: $black_light;
    }
    font: {
      family: NotoSansCJKkr;
      size: 18px * $scale;
      weight: normal;
      stretch: normal;
      style: normal;
    }
    line-height: normal;
    text-align: center;
    color: white;
    background-color: $bg_color;
    box-shadow: 0 2px * $scale 2px * $scale 0 rgba(0, 0, 0, 0.25);

    &:hover {
      color: $fg_color;
      background-color: $bg_hover_color;
      border-color: $hover_border_color;
    }

    &:active {
      color: $fg_color;
      background-color: darken($bg_color, 3%);
      border-color: darken($bg_color, 7%);
    }

    &.default-key {
      background-color: $bg_darken;
      &:hover {
        color: $fg_color;
        background-color: rgba(50, 50, 50, 0.96);
        border-color: rgba(27, 27, 27, 0.96);
        @include shadow_hover();
      }
      &:active {
        color: $fg_color;
        background-color: rgba(30, 30, 30, 0.96);
        border-color: rgba(9, 9, 9, 0.96);
        @include shadow_none();
      }
    }


    &.enter-key {
      background-color: $enter_bg_color;
      @include shadow_hover();

      &:hover {
        background-color: lighten($enter_bg_color, 3%);
        @include shadow_hover();
      }
      &:active {
        background-color: darken($enter_bg_color, 2%);
        border-color: darken($enter_bg_color, 18%);
      }
    }

    &.shift-key-uppercase {
      color: $enter_bg_color;
    }

    .key-button {
      color: rgba(255, 255, 255, 0.35);
      .highlight {
        color: rgba(255, 255, 255, 1);
      }

      StLabel.upper {
        @include scaled_padding($scale, 7, 15, 0, 15);
      }

      StLabel.lower {
        @include scaled_padding($scale, 0, 15, 0, 15);
      }
    }
  }
}

@include keyboard(1);

@include keyboard(0.5, '.scaled');
