.arc-menu-status-text{
color:rgba(211, 218, 227, 1);
font-size:9pt;
}

.left-scroll-area{
width:290px;
}

.left-scroll-area-small{
width:205px;
}

.arc-empty-dash-drop-target{
width: 290px;
height: 2px;
background-color:rgb(63,62,64);
padding: 0 0;
margin:0;
}

.left-box{
width:290px;
}

.vert-sep{
width:11px;
}

.arc-menu-panel-menu:active{
background-color: #3961ca;
}

StScrollView .small-vfade{
-st-vfade-offset: 44px;
}

.arc-menu-eject-button{
-st-icon-style: symbolic;
background-color: transparent;
min-width: 16px;
min-height: 0px;
border-radius: 6px;
padding: 0px 13px;
}

.arc-menu-eject-button:hover{
background-color: rgba(186, 196,201, 0.1);
}

.arc-menu-action{
margin: 1px;
background-color: transparent;
box-shadow: none;
color:rgba(211, 218, 227, 1);
border-width: 1px;
border-color: transparent;
}

.arc-menu-action:hover, .arc-menu-action:focus{
color:rgba(255,255,255,1);
background-color:rgba(238, 238, 236, 0.1);
border-width: 1px;
box-shadow: 0 1px 1px 0 rgba(248,238,82,1);
border-color:rgba(248,238,82,1);
}

.arc-menu-action:active{
box-shadow: none;
color:rgba(255,255,255,1);
background-color:rgba(202,202,196,0.1);
border-width: 1px;
border-color:rgba(247,235,58,1);
}

.arc-menu-menu-item-indicator{
color: rgb(41, 165, 249);
}

.arc-menu-menu-item-text-indicator{
background-color: rgba(196, 196, 196, 0.3);
}

.tooltip-menu-item{
padding: 2px 5px;
max-width:550px;
min-height: 0px;
}

.arc-menu{
-boxpointer-gap: 0px;
min-width: 15em;
color: #D3DAE3;
border-image: none;
box-shadow: none;
font-size:9pt;
}

.arc-menu .popup-sub-menu{
padding-bottom: 1px;
background-color: rgba(250,242,127,1);
}

.arc-menu .popup-menu-content{
padding: 1em 0em;
}

.arc-menu .popup-menu-item{
spacing: 12px;
border: 0;
color:rgba(211, 218, 227, 1);
}

.arc-menu .popup-menu-item:ltr{
padding: .4em 1.75em .4em 0em;
}

.arc-menu .popup-menu-item:rtl
{
padding: .4em 0em .4em 1.75em;
}

.arc-menu .popup-menu-item:checked{
background-color:rgba(250,242,127,1);
box-shadow: 0;
font-weight: bold;

border-color: rgba(252,247,181,1);
border-top-width:1px;
}

.arc-menu .popup-menu-item.selected, .arc-menu .popup-menu-item:active{
background-color:rgba(238, 238, 236, 0.1);
color: rgba(255,255,255,1);
}

.arc-menu .popup-menu-item:disabled{
color: rgba(238, 238, 236, 0.5);
}

.arc-menu-boxpointer{
-arrow-border-radius:0px;
-arrow-background-color:rgb(249,240,107);
-arrow-border-color:rgb(63,62,64);
-arrow-border-width:0px;
-arrow-base:0px;
-arrow-rise:0px;
}

.arc-menu .popup-menu-content{
margin: 0;
background-color: transparent;
border-radius: 0px;
box-shadow: 0;
}

.arc-menu-sep{
height: 1px;
margin: 5px 20px;
background-color: transparent;
border-bottom-style: solid;
border-color:rgb(63,62,64);
border-bottom-width: 1px;
}

.menu-user-avatar{
background-size: contain;
border: none;
border-radius: 999px;
}

.arc-right-click{
max-width:350px;
min-width: 15em;
color: #D3DAE3;
border-image: none;
font-size:9pt;
margin:0px;
padding:0px;box-shadow: none;
spacing:0px;
}

.arc-right-click .popup-sub-menu{
padding-bottom: 1px;
background-color: #3a393b;
box-shadow: inset 0 -1px 0px #323233;
}

.arc-right-click .popup-menu-content{
padding: 3px 0px;
}

.arc-right-click .popup-menu-item{
spacing: 12px;
border: 0;
color:rgba(211, 218, 227, 1);
}

.arc-right-click .popup-menu-item:ltr{
padding: .4em 1.75em .4em 0em;
}

.arc-right-click .popup-menu-item:rtl{
padding: .4em 0em .4em 1.75em;
}

.arc-right-click .popup-menu-item:checked{
background-color: #3a393b;
box-shadow: inset 0 1px 0px #323233;
font-weight: bold;
}

.arc-right-click .popup-menu-item.selected, .arc-right-click .popup-menu-item:active{
background-color:rgba(250,250,249,0.1);
color: rgba(255,255,255,1);
}

.arc-right-click .popup-menu-item:disabled{
color: rgba(238, 238, 236, 0.5);
}

.arc-right-click .popup-menu-item:insensitive{
color:rgba(164,179,197,1);
}

.arc-right-click-boxpointer{
-arrow-border-radius:0px;
-arrow-background-color:rgba(250,242,132,1);
-arrow-border-color:rgba(251,245,156,1);
-arrow-border-width:1px;
-arrow-base:0px;
-arrow-rise:0px;
}

.arc-right-click .popup-menu-content{
margin: 0;
background-color: transparent;
border-radius: 0px;
box-shadow: 0;
}

.app-right-click-sep {
height: 1px;
margin: 2px 35px 3px 35px;
background-color: transparent;
border-bottom-style: solid;
border-color:rgb(63,62,64);
border-bottom-width: 1px;
}

.system-button {
-st-icon-style: symbolic;
padding: 8px;
background-color: transparent;
}
.system-button:hover {
background-color: rgb(94, 94, 94);
border-radius: 10px;
}
.system-button:active {
background-color: rgb(72, 72, 72);
border-radius: 10px;
}
.system-button:focus {
background-color: rgb(41, 41, 41);
border-radius: 10px;
box-shadow: 0 0 0 3px rgb(191, 191, 191) inset;
}

.app-menu-item {
background-color: transparent;
border-radius: 12px;
margin: 0px 15px;
}
.app-menu-item:hover {
background-color: rgb(224, 233, 255);
}
.app-menu-item:active {
background-color: rgb(204, 220, 255);
}
.app-menu-item:focus {
background-color: rgb(255, 255, 255);
box-shadow: 0 0 0 3px rgb(153, 153, 153) inset;
}

.favorites-menu-item {
background-color: rgb(255, 255, 255);
border-radius: 10px;
height: 75px;
width: 75px;
}
.favorites-menu-item:hover {
background-color: rgb(224, 233, 255);
}
.favorites-menu-item:active {
background-color: rgb(204, 220, 255);
}
.favorites-menu-item:focus {
background-color: rgb(255, 255, 255);
box-shadow: 0 0 0 3px rgb(153, 153, 153) inset;
}

.expand-button {
background-color: rgb(255, 255, 255);
border-radius: 10px;
width: 80px;
height: 28px;
color:rgb(0,0,0);
}
.expand-button:hover {
background-color: rgb(224, 233, 255);
}
.expand-button:active {
background-color: rgb(204, 220, 255);
}
